.app {
    padding-top: 30px;
    text-align: center;
    width: 300px;
}
.bar{
    position: relative;
}
.percentage{
    position: absolute;
    top: 2px;
    right: 43%;
}
.buttons{
    padding: 20px 0;
}
.buttons button{
    padding-right: 20px;
}
